.popup {
    position: fixed;
    z-index: 99;
    top: 60px;
    left: 48%;
    transform: translate(-50%, 0);
    background-color: white;
    /* padding: 20px; */
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    display: flex;
    flex-direction: column;
    /* background: white; */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-height: 80vh;
    overflow-y: auto;
}

.close-button {
    cursor: pointer;
    background: none;
    border: none;
    color: #007bff;
    font-size: 16px;
    margin-bottom: 10px;
}