/* Manage Account Container */
.manage__account__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.edit__account {
  display: flex;
}

/* Edit Account Container */
.edit__account__container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  padding: 20px;
  border: 1px solid #eee;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.edit__account__header {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.edit__account__form__container {
  width: 100%;
  display: flex;
}

.edit__account__form {
  width: 100%;
}

.edit__input__container {
  width: 100%;
  margin-bottom: 15px;
}

.edit__account__input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.save__changes__button__container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-top: 15px;
}

.save__changes__button {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #3f51b5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.save__changes__button:hover {
  background-color: #303f9f;
}

.separator__line {
  height: 2px;
  width: 100%;
  margin: 20px 0;
  background-color: #eee;
}

/* Delete Account Form */
.delete_account__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #eee;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.delete__account__header {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.delete__account__prompt {
  font-size: 1rem;
  margin-bottom: 20px;
}

.delete__account__button__container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.delete__account__button {
  padding: 8px 16px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #f44336;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete__account__button:hover {
  background-color: #d32f2f;
}