.summer-sale-for {
    position: relative;
    line-height: 21px;
    display: inline-block;
    width: 474px;
    height: 18px;
    flex-shrink: 0;
}
.shopnow {
    position: relative;
    text-decoration: underline;
    line-height: 24px;
    font-weight: 600;
    text-align: center;
}
.summer-sale-for-all-swim-suits-parent {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}
.english {
    position: relative;
    line-height: 21px;
}
.dropdown-icon {
    position: relative;
    width: 24px;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
}
.english-parent {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.frame-parent {
    position: absolute;
    top: 12px;
    right: 136px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 231px;
}
.top-header {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #000;
    width: 1440px;
    height: 48px;
    overflow: hidden;
    color: #fafafa;
}
.exclusive {
    position: absolute;
    top: 0%;
    left: 0%;
    letter-spacing: 0.03em;
    line-height: 24px;
}
.logo {
    position: relative;
    width: 118px;
    height: 24px;
}
.home {
    position: absolute;
    top: 0%;
    left: 0%;
    line-height: 24px;
}
.header1 {
    position: relative;
    width: 48px;
    height: 24px;
}
.header2 {
    position: relative;
    width: 66px;
    height: 24px;
    cursor: pointer;
}
.underline-icon {
    position: relative;
    max-height: 100%;
    width: 48px;
    object-fit: cover;
    opacity: 0.5;
}
.header3 {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.header4 {
    position: relative;
    width: 61px;
    height: 24px;
}
.header-parent {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 48px;
    text-align: center;
    font-size: 16px;
    font-family: Poppins;
}
.logo-parent {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 160px;
}
.what-are-you {
    position: relative;
    line-height: 18px;
    opacity: 0.5;
}
.what-are-you-looking-for-parent {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 34px;
}
.search-component-set {
    border-radius: 4px;
    background-color: #f5f5f5;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 7px 12px 7px 20px;
}
.wishlist-icon {
    position: relative;
    width: 32px;
    height: 32px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
}
.cart1-with-buy {
    position: relative;
    width: 32px;
    height: 32px;
    object-fit: cover;
}
.wishlist-parent {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.search-component-set-parent {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
    font-size: 12px;
    font-family: Poppins;
}
.header {
    position: absolute;
    top: 88px;
    left: 135px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 130px;
    font-size: 24px;
    font-family: Inter;
}
.about-child {
    position: absolute;
    top: 142px;
    left: 0px;
    width: 1440px;
    height: 0px;
    object-fit: cover;
}
.account {
    position: relative;
    line-height: 21px;
    opacity: 0.5;
}
.roadmap-child {
    position: relative;
    width: 6px;
    height: 11.75px;
    object-fit: contain;
}
.roadmap {
    position: absolute;
    top: 222px;
    left: 135px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}
.our-story {
    position: relative;
    letter-spacing: 0.06em;
    line-height: 64px;
    font-weight: 600;
}
.launced-in-2015 {
    position: relative;
    line-height: 26px;
    display: inline-block;
    width: 525px;
}
.exclusive-has-more {
    position: relative;
    line-height: 26px;
    white-space: pre-wrap;
    display: inline-block;
    width: 505px;
}
.launced-in-2015-exclusive-is-parent {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
    text-align: left;
    font-size: 16px;
    font-family: Poppins;
}
.our-story-parent {
    position: absolute;
    top: 422px;
    left: 135px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
    text-align: justify;
    font-size: 54px;
    font-family: Inter;
}
.portrait-two-african-females-h-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 837px;
    height: 609px;
    object-fit: cover;
}
.side-image {
    position: absolute;
    top: 285px;
    left: 734px;
    border-radius: 4px 0px 0px 4px;
    background-color: #eb7ea8;
    width: 705px;
    height: 609px;
    overflow: hidden;
}
.services-icon {
    position: relative;
    width: 80px;
    height: 80px;
    object-fit: cover;
}
.free-and-fast {
    position: relative;
    line-height: 28px;
    font-weight: 600;
}
.free-delivery-for {
    position: relative;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
}
.free-and-fast-delivery-parent {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}
.services-parent {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
}
.friendly-247-customer {
    position: relative;
    font-size: 14px;
    line-height: 21px;
}
.customer-service-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}
.services-group {
    width: 262px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
}
.full-services {
    position: absolute;
    top: 2164px;
    left: 248px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 88px;
    font-size: 20px;
}
.free-and-fast1 {
    position: relative;
    letter-spacing: 0.04em;
    line-height: 30px;
}
.free-delivery-for1 {
    position: relative;
    font-size: 16px;
    line-height: 24px;
    font-family: Poppins;
    text-align: center;
}
.free-and-fast-delivery-group {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}
.frame-div {
    position: absolute;
    top: 30px;
    left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
}
.instance-wrapper {
    position: relative;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    width: 270px;
    height: 230px;
    overflow: hidden;
    flex-shrink: 0;
}
.services-parent1 {
    position: absolute;
    top: 32px;
    left: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
}
.instance-container {
    position: relative;
    border-radius: 4px;
    background-color: #db4444;
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.2);
    width: 270px;
    height: 230px;
    overflow: hidden;
    flex-shrink: 0;
    color: #fff;
}
.customer-service-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}
.services-parent2 {
    position: absolute;
    top: 30px;
    left: 4px;
    width: 262px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
}
.services-parent3 {
    position: absolute;
    top: 30px;
    left: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
}
.frame-group {
    position: absolute;
    top: 1034px;
    left: 135px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
    font-size: 32px;
    font-family: Inter;
}
.image-46-icon {
    position: absolute;
    top: 39px;
    left: 67px;
    width: 236px;
    height: 391px;
    object-fit: cover;
}
.image-46-wrapper {
    position: relative;
    border-radius: 4px;
    background-color: #f5f5f5;
    width: 370px;
    height: 430px;
    overflow: hidden;
    flex-shrink: 0;
}
.tom-cruise {
    position: relative;
    letter-spacing: 0.04em;
    line-height: 30px;
    font-weight: 500;
}
.founder-chairman {
    position: relative;
    font-size: 16px;
    line-height: 24px;
    font-family: Poppins;
}
.tom-cruise-parent {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}
.icon-twitter-parent {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}
.frame-parent2 {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}
.frame-parent1 {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 32px;
}
.image-51-icon {
    position: absolute;
    top: 33px;
    left: 38px;
    width: 294px;
    height: 397px;
    object-fit: cover;
}
.image-47-icon {
    position: absolute;
    top: 38px;
    left: 22px;
    width: 326px;
    height: 392px;
    object-fit: cover;
}
.frame-container {
    position: absolute;
    top: 1404px;
    left: 135px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
    font-size: 32px;
    font-family: Inter;
}
.frame-child {
    position: relative;
    border-radius: 50%;
    background-color: #000;
    width: 12px;
    height: 12px;
    opacity: 0.3;
}
.frame-inner {
    position: relative;
    width: 16px;
    height: 16px;
    object-fit: cover;
}
.ellipse-parent {
    position: absolute;
    top: 2008px;
    left: 663px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}
.underline-icon1 {
    position: relative;
    max-height: 100%;
    width: 1440px;
    object-fit: cover;
    opacity: 0.5;
}
.icon-copyright {
    position: relative;
    width: 20px;
    height: 20px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
}
.icon-copyright-parent {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
}
.frame-wrapper {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    opacity: 0.6;
}
.underline-parent {
    position: absolute;
    top: 376px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    opacity: 0.4;
}
.subscribe {
    position: relative;
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    font-family: Poppins;
}
.logo-group {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
}
.enter-your-email {
    position: relative;
    line-height: 24px;
    opacity: 0.4;
}
.send-mail {
    border-radius: 4px;
    border: 1.5px solid #fafafa;
    box-sizing: border-box;
    width: 217px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 12px 0px 12px 16px;
    gap: 32px;
    font-size: 16px;
    font-family: Poppins;
}
.frame-parent8 {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
    font-size: 24px;
    font-family: Inter;
}
.support {
    position: relative;
    line-height: 28px;
    font-weight: 500;
}
.bijoy-sarani-dhaka {
    position: relative;
    line-height: 24px;
    white-space: pre-wrap;
    display: inline-block;
    width: 175px;
}
.exclusivegmailcom {
    position: relative;
    line-height: 24px;
}
.bijoy-sarani-dhaka-dh-1515-parent {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
    font-size: 16px;
}
.save-3-with {
    position: relative;
    line-height: 18px;
    font-weight: 500;
    opacity: 0.7;
}
.qrcode-1-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    left: 0px;
    top: 0px;
    transform: scale(1.066);
}
.wrapper-qrcode-1 {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 76px;
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.qr-code {
    position: relative;
    background-color: #000;
    width: 80px;
    height: 80px;
    overflow: hidden;
    flex-shrink: 0;
}
.googleplay-icon {
    position: relative;
    width: 110px;
    height: 40px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
}
.download-appstore-icon {
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 4px;
    width: 104px;
    height: 34px;
    object-fit: cover;
}
.appstore {
    position: relative;
    background-color: #000;
    width: 110px;
    height: 40px;
    overflow: hidden;
    flex-shrink: 0;
}
.googleplay-parent {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
}
.save-3-with-app-new-user-only-parent {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
    font-size: 12px;
}
.icon-facebook-parent {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
}
.frame-parent7 {
    position: absolute;
    top: 80px;
    left: 135px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 87px;
    font-size: 20px;
    color: #fafafa;
}
.footer {
    position: absolute;
    top: 2465px;
    left: 0px;
    background-color: #000;
    width: 1440px;
    height: 440px;
    overflow: hidden;
    font-size: 16px;
    color: #fff;
}
.about {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 2905px;
    overflow: hidden;
    text-align: left;
    font-size: 14px;
    color: #000;
    font-family: Poppins;
}

