ProductDetails.css

.product-details-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

main {
  margin: 20px 0;
}

.product-details-page h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.product-details-page p {
  margin-bottom: 15px;
}

.product-image-container {
  text-align: center;
}

.product-image {
  margin-left: 600px;
  margin-top: 98px;
  height: 400px;
  margin-bottom: 70px;
  border: 1px solid #ddd; /* Add border for better visibility */
}

.quantity-selector {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.quantity-selector button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.quantity {
  margin: 0 10px;
}

.button {
  text-align: center;
  margin-bottom: 1000px;
  margin-right:400px;
}

.add-to-cart {
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
}

footer { 
  padding: 10px;
  text-align: center;
  bottom: 0;
  width: 100%;
  margin-top: 500px;
}
.size {
  position: relative;
  font-size: 20px;
  letter-spacing: 0.03em;
  line-height: 20px;
  font-family: Inter;
  color: #000;
  text-align: left;
  }
  .xs {
    /* position: relative; */
    /* font-size: 14px; */
    line-height: 21px;
    font-weight: 500;
    font-family: Poppins;
    color: #000;
    /* text-align: left; */
    /* display: inline-block; */
    width: 35px;
    height: 30px;
    }
   .product__card__action{
     bottom: 270px;
     margin-left:100px ;
   }    
  
  


    